<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <connectionStrings>
    <add name="cnn" connectionString="Data Source=.;Initial Catalog=AsisTIC;Integrated Security=True" />
    <add name="Asistic.Properties.Settings.AsisTICConnectionString"
      connectionString="Data Source=.;Initial Catalog=AsisTIC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
</configuration>
